.fon-img-container{
    background: #ffffff url(https://sportishka.com/uploads/posts/2022-11/thumbs/1667675346_27-sportishka-com-p-krasnii-adidas-oboi-29.jpg) center center/cover no-repeat;
    width: 100%;
    height: 500px;
}

.info-in-fon{
    display: inline-block;
    padding-top: 10%;
    padding-left: 20px;
}

.info-in-fon h2{
    border: 1px solid white;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.info-in-fon h2:hover{
    color: gray;
}

.steel-interested{
    margin: 1em;
    font-weight: 900;
    font-size: 2rem;
}

/* CARD */

.foot-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1);
}

.foot-cards>div{
    margin-inline: 13px;
}

.one-foot-card{  
    display: flex;
    flex-direction: column;
}

.one-foot-card>img{
    width: 100%;
}

.foot-info p{
    margin: 8px;
}


/* //// */

/* Additional  */
.additional{
    margin-top: 3rem;
    margin-bottom: 20px;
    margin-right: 0;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.add-two-btn>button{
    border: 1px solid black;
    padding: 10px;
}

.first-add-btn{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.second-add-btn{
    font-size: 15px;
    font-weight: 800;
}

.second-add-btn:hover{
    background-color: black;
    color: white;
}

.add-one-btn>a{
    color: black;
    font-weight: 600;
}
/* ///// */

/* PRODUCT CARDS */

.product-cards{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-cards>div{
    margin-inline: 8px;
}

.one-product-card{
    display: flex;
    flex-direction: column;
}

.one-product-card>img{
    width: 100%;
}

.one-product-card>p{
    margin: 5px;
    margin-left: 0;
}

/* ///// */

@media(max-width:880px){
    .foot-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}