.fon-img-container{
    background: #ffffff url(https://sportishka.com/uploads/posts/2022-11/thumbs/1667675346_27-sportishka-com-p-krasnii-adidas-oboi-29.jpg) center center/cover no-repeat;
    width: 100%;
    height: 500px;
}

.info-in-fon{
    display: inline-block;
    padding-top: 10%;
    padding-left: 20px;
}

.info-in-fon h2{
    border: 1px solid white;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.info-in-fon h2:hover{
    color: gray;
}

.steel-interested{
    margin: 1em;
    font-weight: 900;
    font-size: 2rem;
}

/* CARD */

.foot-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1);
}

.foot-cards>div{
    margin-inline: 13px;
}

.one-foot-card{  
    display: flex;
    flex-direction: column;
}

.one-foot-card>img{
    width: 100%;
}

.foot-info p{
    margin: 8px;
}


/* //// */

@media(max-width:880px){
    .foot-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}